
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-letter:before { content: '\e803'; } /* '' */
.icon-old-typical-phone:before { content: '\e804'; } /* '' */
.icon-skype-logo:before { content: '\e805'; } /* '' */