doctype html
html
  head
    title Evolve - Создание сайтов
    
    meta(charset = "utf-8")
    
    link(rel="stylesheet", href="css/style.min.css")
    
    script(src="js/main.min.js")
    
  body
    canvas#canvas
    div.header-wraper
      a.logo(href="http://evolve.in.ua")
        include ./includes/logo.jade
      div.row
        div.column-half
          h1
            | Создаем интерактивные путешествия по вашему бренду. 
          p
            | Повышаем запоминаемость продукта. Подчеркиваем уникальность бизнеса наших клиентов, используя самые современные технологии и творческий подход к интерактиву.
        div.column-half
        div.clearfix