doctype html
html
  head
    title Evolve - Создание сайтов
    
    meta(charset = "utf-8")
    
    link(rel="stylesheet", href="css/style.min.css")
    
    script(src="js/main.min.js")
    
  body
    .header-wraper#header-wraper
      canvas#canvas
      .header-wraper__inner
        header
          a.logo(href="http://evolve.in.ua")
            include ./includes/logo.jade
        main.row.clearfix
          div.column-half
            h1
              | Создаем интерактивные путешествия по вашему бренду. 
            p
              | Повышаем запоминаемость продукта. Подчеркиваем уникальность бизнеса наших клиентов, используя самые современные технологии и творческий подход к интерактиву.
          aside.column-half
        footer.modal#modal
          form(action="/", method="post").modal__form#modal_form
            .form-group
              input(type="text" required name="username")
              label.control-label(for="input") Имя
              i.bar
            .form-group
              input(type="email" required)
              label.control-label(for="input" name="email") E-mail
              i.bar
            .form-group
              textarea(required)
              label.control-label(for="textarea" name="message") Сообщение
              i.bar
            .button-container
              button.button(type="submit") 
                span Submit